body{
    background-color: rgb(12, 0, 104);
}
/*------------------------------Config Nav Geral-----------------*/
.logo{ /*Configurando e editando a logo*/
    width: 5%;
    border-radius: 15%;
    margin-left: 3%;
}

.navbar{
    background-color: none;
}
.nav-link{
    color: aliceblue;
}
.container-fluid{ /*nav menu parte de fora do nav*/
    margin: auto;
    padding: 0.5%;
}
.collapse{
    padding: 1%;
}
.navbar-nav .nav-item {
    padding: 0 15px; /* Espaçamento de 15px à esquerda e à direita de cada item */
  }

.navbar-toggler-icon { /*Deixando as barras do menu brancas com um svg*/
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="white"><path stroke="white" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar-toggler{ /* borda do menu branca ao mudar para mobile*/
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255)
}

a:link, a:visited {
    background-color: #000000ad;
    color: rgb(255, 255, 255) !important; /* Texto branco */
    border: 2px solid rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    transition: background-color 0.4s ease, color 0.4s ease;
}

a:hover, a:focus:hover, a:visited:hover {
    background-color: rgb(255, 255, 255); /* Fundo branco no hover */
    color: #000000 !important;  /* Texto preto no hover */
}

a:active, a:focus, a:visited:active, a:visited:focus {
    background-color: #ffffff; /* Fundo branco quando selecionado */
    color: #000000 !important; /* Texto preto quando selecionado */
    border-color: #000000; /* Borda preta para contraste */
    outline: none;
}


/*------------------------------Config Nav Geral-----------------*/
main{
    margin: 3%;
}
.videosite{
    width: 30%;
    float: left;
    margin-left: 50px;
}
